{{ "<!-- About section -->" | safeHTML }}
<section>
    {{ with .Site.Params.about.title }}<h2 id="about-me">{{ . }}</h2>{{ end }}

    <div class="blurb">
	    <p>Somos una empresa dedicada a la carpintería y ebanistería con mas de 18 años de experiencia profesional. Nos dedicamos a la fabricación e instalación de muebles a medida, puertas,ventanas, cocinas, suelos, escaleras, armarios empotrados...</p>
	    <p>Asesorando en la distribución y cuidando mucho los acabados para la mayor satisfacción del cliente. Colaboramos con arquitectos, interioristas, escenógrafos, diseñadores y empresas de reformas.</p>
    </div>

</section>
