{{ "<!-- About section -->" | safeHTML }}
<section>
    {{ with .Site.Params.about.title }}<h2 id="about-me">{{ . }}</h2>{{ end }}

    <div class="blurb">
	    <p>
	    Somos una empresa dedicada a la carpintería y ebanistería con más
	    de 20 años de experiencia. Contamos con un taller propio en Poble
	    Nou, Barcelona. El objetivo principal de nuestra empresa siempre ha
	    sido el de adaptarnos a los gustos y necesidades del
	    cliente, ofreciendo siempre calidad en los productos y en los
	    resultados del trabajo realizado.
	    </p>
    </div>

</section>

<section>
    <h2 id="servicios">Servicios</h2>

    <div class="blurb">
	    <h3>MUEBLES A MEDIDA</h3>
	    <p>Nos dedicamos a la fabricación e instalación de muebles a medida, puertas,ventanas, cocinas, suelos, escaleras, armarios empotrados...
	    </p>
	    <h3>DISEÑO DE PROYECTOS</h3>
	    <p>Desarrollamos proyectos personalizados a medida y estilo solicitados desde la idea hasta el final de la obra. Asesorando en la distribución y cuidando mucho los acabados para la mayor satisfacción del cliente. 
	    </p>
	    <h3>CARPINTERÍA PARA EXTERIOR</h3>
	    <p>Construimos estructuras de madera con tratamientos duraderos y de bajo mantenimiento.
	    Colaboramos con arquitectos, interioristas, escenógrafos, diseñadores y empresas de reformas. Trabajamos la madera de manera tradicional detallada, personalizada y de calidad. Dispuestos hacer realidad sus sueños. 
	    </p>
    </div>

</section>
