<section class="alt-section section-work">
    <h2 id="work">Galería</h2>

    <div class="work-belt">
        <div class="thumb-wrap">
            <div class="thumb-container">
		{{- range .Site.Pages -}}
		{{- if eq .Type "proyecto" }}
                <label for="{{ .Params.folder }}">
		    <a href="{{ .URL }}">
                    <div class="thumb-unit" data-folder="{{ .Params.folder }}">
			    <img src="{{ .Params.thumb }}" alt="{{ .Params.titulo }}" />
                    </div>
                    <div class="thumb-overlay">
                        <strong>{{ .Params.titulo }}</strong>
                    </div>
		    </a>
                </label>
		{{- end -}}
		{{- end -}}
            </div>
        </div>
    </div>
</section>
